html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  color: white;
}

nav {
  display: flex;
}

.menu {
  padding-right: 10px;
  color: white;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: white;
}

.section1 {
  background-color: rgb(25, 243, 170);
}

.section2 {
  background-color: rgb(235, 118, 9);
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}
